.header-buttons{
    margin-right: 3rem;
    margin-left: 1rem;
  
  }
  
  .watchlist{
      font-size: 1.2rem;
      color: #e3d4bc;
      border: none;
      cursor: pointer;
      margin-right: 2rem;
      text-decoration: none;
  }
  
  .favorit{
      font-size: 1.2rem;
      color: #e3d4bc;
      border: none;
      cursor: pointer;
      text-decoration: none;
  }
  