.header-buttons {
    margin-right: 3rem;
  
  }
  
  .watchlist {
      font-size: 22px;
      color: #e3d4bc;
      border: none;
      cursor: pointer;
      margin-right: 2rem;
      text-decoration: none;
      font-weight: 500;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .favorit {
      font-weight: 500;
      font-size: 22px;
      color: #e3d4bc;
      border: none;
      cursor: pointer;
      text-decoration: none;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  