* {
    background-color: var(background-color)
}

.singlepage-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-info__title {
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    color: yellow;
    letter-spacing: 5px;
}

.movie-img {
    margin-top: 1rem;
}

.movie-description {
    font-size: 18px;
    color: white;
    width: 300px;
    margin-top: 1rem;
    letter-spacing: 1px;
}