.watchlist-title {
    margin-top: 1rem;
    color: #e3d4bc;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.watchlist-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    width: 100%;
    place-items: center;
    row-gap: 1rem;
}

.watchlist-box {
    height: auto;
    width: 300px;
    background-color: rgb(47,47,54);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
    margin-top: 1rem;
}

.watchlist-box h2 {
    color: #e0d1be;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: .5rem 0 .5rem .5rem;
    width: 18rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.watchlist-box h3 {
    color: #e0d1be;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: .5rem 0 .5rem .5rem;
    width: 18rem;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1280px) {
    .watchlist-container {
        grid-template-columns: repeat(3, 1fr);
        
    }

}

@media screen and (max-width: 1000px) {
    .watchlist-container {
        grid-template-columns: repeat(2, 1fr);
       
    }
}