.header-title{
    color: #e3d4bc;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.header-title h1{
    font-size: 1.6rem;
}

.header-title p{
    font-size: .8rem;
}
