#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  background-color: #153448;
  opacity: 97%;
}

.app {
  box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5), /* Skugga till vänster */
              -10px 0 10px -5px rgba(0, 0, 0, 0.5); /* Skugga till höger */
}