#root {
  max-width: 1280px;
  background-color: var(background-color);
  height: 100vh;
  margin: 0 auto;
  background-image: url('src/assets/pexels-mnm-zameer-3308588.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}
