.search-results {
    
}

.searchlist__title {
    margin-top: 2rem;
    text-align: center;
    color: yellow;
    font-size: 42px;
    margin-bottom: 1rem;
}
.movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.search-logo__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.movie-title {
    text-shadow: 2px 2px 4px rgba(178, 176, 176, 0.2);
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

.movie-card {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    background-color: rgb(255, 255, 255)
}

.movie-card:hover {
    transform: scale(1.05);
    transition: all .5s ease-in-out;
}

.movie-year {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
}


.searchPage-logo {
    cursor: pointer;
    height: 30px;
    margin-top: 1rem; 
  }

  .searchPage-logo:hover {
    transform: scale(1.1);
  }