.searchlist__title {
    margin-top: 2rem;
    text-align: center;
    color: rgb(232, 232, 227);
    font-size: 42px;
    margin-bottom: 1rem;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.search-logo__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.movie-card {
    height: auto;
    width: 300px;
    background-color: rgb(47,47,54);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
    margin-top: 1rem;
}

.movie-title{
    color: #e0d1be;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: .5rem 0 .5rem .5rem;
    width: 18rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.movie-year {
    color: #e0d1be;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: .5rem 0 .5rem .5rem;
    width: 18rem;
    white-space: nowrap;
    overflow: hidden;
}

.movie-card:hover {
    transform: scale(1.02);
}


.searchPage-logo {
    cursor: pointer;
    height: 30px;
    margin-bottom: 0.5rem;
}

.searchPage-logo :visited {
    color: aliceblue;
}

.searchPage-logo:hover {
    transform: scale(1.1);
}

.movie-poster {
    width: 100%;
    height: 470px;
}

@media screen and (max-width: 1100px) {
    .movie-title {
        font-size: 18px;
    }

}