.aside-left__container {
  margin-top: 1rem;
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden
}

.aside-left__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.aside-left__box article img {
  width: 150px;
  height: auto;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  margin: 1rem;
}

.aside-left__box article p {
  color: rgb(255, 255, 255);
  font-weight: 600;
}