.homePage-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.homePage-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 0 0 1rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    width: 90%;
}

.homePage-card:hover {
    transform: scale(1.05);
}

.homePage-heading {
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
    padding-top: 3rem;
}

.homePage-smallHeading {
    text-align: center;
    color: #333;
    margin: .5rem;
    font-size: 1.5rem;
    white-space: nowrap;
    width: 10rem;
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homePage-img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: solid white 1px;
}

.homePage-button {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3rem 0 1rem 0;
    cursor: pointer;
    border-radius: 0.25rem;
  }
  
  .homePage-button:hover {
    background-color: #222;
    transform: scale(1.02);
  }

.homepage-link {
    text-decoration: none;
}

  .homePage-logo {
    cursor: pointer;
    height: 30px;
    
  }

  .homePage-logo:hover {
    transform: scale(1.1);
  }


  .homePage-modal {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
  }
